.room-selector--container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.room-selector--box {
  background-color: $color-white;
  width: 100%;
  max-width: 600px;
  padding: 15px;
  box-sizing: border-box;
}
