$sidebar-width: 300px;

.room--container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.room--sidebar {
  width: $sidebar-width;
  background: $color-white;
}

.sidebar--tabs {
  display: flex;

  div {
    flex: 1;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
    cursor: pointer;
    transition: 150ms;

    &.selected {
      color: $color-red;
      cursor: default;
    }
  }
}

.room--content {
  width: calc(100% - #{$sidebar-width});
  display: flex;
  flex-direction: column;
}

.room--audience {
  flex: 1;
  padding: 25px;
}

.peer {
  width: 90px;
  background: darken($color-light-gray, 5%);
  border-radius: 12px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: crosshair;

  .icon {
    font-size: 48px;
  }

  .name {
    max-width: 80px;
    font-size: 12px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.room--stage {
  display: flex;
  align-items: center;
  flex-direction: column;

  .stage--nowplaying {
    display: flex;
    @include fancy-font;
    width: 100%;
    font-size: 32px;
    background-color: $color-dark-gray;
    color: $color-white;
    cursor: default;
    align-items: center;

    .song {
      flex: 1;
      text-overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
    }

    .up, .down {
      box-sizing: border-box;
      font-size: 32px;
      cursor: pointer;
      transition: 150ms;
      height: 100%;
      padding: 25px 20px;
    }

    .up {
      margin-right: 10px;

      &:hover {
        background-color: $color-green;
      }
    }

    .down {
      margin-left: 10px;

      &:hover {
        background-color: $color-red;
      }
    }
  }

  .peer {
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 15px;

    .popularity-bar {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;

      display: flex;
      div {
        height: 5px;
      }

      .ups {
        background-color: $color-green;
        width: 75%;
      }

      .downs {
        background-color: $color-red;
        width: 25%;
      }
    }

    &.active {
      background-color: $color-white;
    }
  }

  .stage--djs {
    display: flex;
  }

  .empty-slot {
    width: 90px;
    background: darken($color-light-gray, 5%);
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 15px;
    font-size: 48px;
  }
}
