$sidebar-width: 300px;
$nowplaying-height: 102px;

.room--container {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.room--sidebar {
  width: $sidebar-width;
  background: $color-white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$nowplaying-height});
}

.sidebar--tabs {
  display: flex;

  div {
    flex: 1;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
    cursor: pointer;
    transition: 150ms;

    &.selected {
      color: $color-red;
      cursor: default;
    }
  }
}

.room--content {
  width: 100%;
  display: flex;
  flex: 1;
}

.room--audience {
  flex: 1;
  padding: 25px 15px;
  display: flex;
  flex-wrap: wrap;
}

.room--main {
  flex: 1;
}

.peer {
  width: 90px;
  background: darken($color-light-gray, 5%);
  border-radius: 12px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: crosshair;
  height: 100px;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;

  .icon {
    font-size: 48px;
  }

  .name {
    max-width: 80px;
    font-size: 12px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .me-badge:before {
    content: "you";
    color: $color-alt-text;
    font-size: 12px;
    display: block;
    position: absolute;
    top: 7px;
    left: 5px;
  }

  &.dancing {
    .icon {
      animation: dancing 2s infinite;
    }
  }
}

@keyframes dancing {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }

  25% {
    transform: translateX(3px) translateY(-5px) rotate(10deg);
  }

  50% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }

  75% {
    transform: translateX(-3px) translateY(-5px) rotate(-10deg);
  }

  100% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
}

.nowplaying {
  width: 100%;
  height: $nowplaying-height;
  font-size: 32px;
  background-color: $color-dark-gray;
  color: $color-white;
  cursor: default;

  .nowplaying--content {
    display: flex;
    align-items: center;
  }

  .nowplaying--dragbar {
    @include drag-region($color-dark-gray);
  }

  .song {
    @include fancy-font;
    flex: 1;
    text-overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }

  .up, .down {
    box-sizing: border-box;
    font-size: 32px;
    cursor: pointer;
    transition: 150ms;
    height: 100%;
    padding: 20px 20px;

    &.disabled {
      filter: grayscale(100%);
      opacity: .3;
      cursor: default;
    }
  }

  .up {
    margin-right: 10px;
    border-top-right-radius: 5px;

    &:not(.disabled):hover {
      text-shadow: 0px 0px 25px $color-green;
      transform: translateY(-7px) rotate(-6deg);
    }

    &.toggled {
      text-shadow: 0px 0px 25px $color-green;
      animation: dancing 1s 2;
    }
  }

  .down {
    margin-left: 10px;
    border-top-left-radius: 5px;
    transform: scaleX(-1);

    &:not(.disabled):hover, &.toggled {
      text-shadow: 0px 0px 25px $color-red;
      transform: scaleX(-1) translateY(7px) rotate(6deg);
    }
  }
}

.nowplaying--bar {
  height: 20px;
  width: 100%;
  position: relative;

  .loading-track {
    position: absolute;
    top: 0px;
    left: 0px;
    background: $color-blue;
    width: 40px;
    height: 20px;
    animation: loading-track 3s infinite;
  }
  
  .progress {
    position: absolute;
    top: 0px;
    left: 0px;
    background: lighten($color-dark-gray, 10%);
    height: 20px;
    transition: 150ms;
  }

  .bar-text {
    position: absolute;
    left: 15px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    flex: 1;
    z-index: 500;
  }
}

@keyframes loading-track {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(calc(100vw - 40px));
  }

  100% {
    transform: translateX(0px);
  }
}

.room--stage {
  display: flex;
  align-items: center;
  flex-direction: column;

  .peer {
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 15px;
    margin-bottom: 0px;

    .popularity-bar {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;

      display: flex;
      div {
        height: 5px;
      }

      .ups {
        background-color: $color-green;
      }

      .downs {
        background-color: $color-red;
      }
    }

    &.active {
      background-color: $color-white;
    }
  }

  .stage--djs {
    display: flex;
  }

  .empty-slot {
    width: 90px;
    background: darken($color-light-gray, 5%);
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-size: 48px;
    cursor: default;

    &.clickable {
      cursor: pointer;
    }
  }
}

.sidebar--queues {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;

  select {
    display: none;
    background: $color-white;
    margin: 0px;
    padding: 10px 15px;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 $color-dark-gray;

    &:focus {
      outline: none;
    }
  }
}

.queues--no-tracks {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;

  p {
    font-size: 24px;
    color: $color-alt-text;
  }
}

.queues--dropzone {
  border: 2px dashed $color-border;
  padding: 25px;
  text-align: center;
  font-size: 16px;
  color: $color-alt-text;
  margin: 15px;
  cursor: pointer;
  outline: none;

  &.active {
    border: 2px dashed $color-blue;
    color: $color-blue;
  }

  &.disabled {
    animation: working 1s infinite;
  }
}

@keyframes working {
  0% {
    border: 2px dashed $color-border;
    color: $color-alt-text;
  }

  50% {
    border: 2px dashed $color-blue;
    color: $color-blue;
  }

  100% {
    border: 2px dashed $color-border;
    color: $color-alt-text;
  }
}

.queues--tracks {
  display: block;
  flex: 1;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

li.queues--tracks-track {
  padding: 10px 15px;
  cursor: default;
  position: relative;
  list-style-type: none;
  background: $color-white;
  cursor: grab;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  &.active {
    opacity: .8;
    cursor: grabbing;
  }

  &:not(:nth-last-child(1)) {
    border-bottom: 1px dotted $color-border;
  }

  .top {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .bottom {
    font-size: 14px;
    color: $color-alt-text;
    margin-top: 3px;
  }

  .actions {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;

    a {
      display: block;
      padding: 5px;
      font-size: 18px;
      color: $color-alt-text;

      &:hover {
        color: $color-blue;
      }
    }
  }
}

.dj-bar {
  background-color: $color-border;
  padding: 10px;

  button {
    margin-right: 10px;
  }
}

.sidebar--chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.chat--msgs {
  flex: 1;
  overflow-y: scroll;
  flex-direction: column;
}

.chat--no-msgs {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;

  p {
    font-size: 24px;
    color: $color-alt-text;
  }
}

.chat--msg {
  display: flex;
  padding: 3px 15px 2px 15px;
  flex-direction: column;

  &:nth-child(1) {
    padding-top: 5px;
  }

  &:nth-last-child(1) {
    padding-bottom: 10px;
  }

  .sender-name {
    font-size: 16px;
    border-bottom: 1px solid $color-border;
    padding: 3px 0px;
    margin-bottom: 5px;

    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .message {
    font-size: 14px;
    line-height: 1.3em;
    overflow-wrap: break-word;
  }
}

.chat--compose {
  textarea {
    background-color: $color-white;
    border-bottom: 0px;
    margin: 0px;
    font-size: 16px;
    height: 4em;
    border-top: 1px solid $color-border;

    &:disabled {
      background-color: darken($color-white, 1%);
      color: $color-alt-text;
    }
  }
}

.room--settings-bubble {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: $color-white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, .3);
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  cursor: pointer;
  z-index: 2000;
  transition: 150ms;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  }
}

.room-settings--trans-enter {
  opacity: 0;

  .settings--menu {
    transform: scale(0);
  }

  &.room-settings--trans-enter-active {
    opacity: 1;
    transition: 250ms ease-in;

    [class^="settings--"] {
      transform: scale(1);
      transition: 250ms ease-in;
    }
  }
}

.room-settings--trans-leave {
  opacity: 1;

  .settings--menu {
    transform: scale(1);
  }

  &.room-settings--trans-leave-active {
    opacity: 0;
    transition: 250ms ease-out;

    [class^="settings--"] {
      transform: scale(0);
      transition: 250ms ease-out;
    }
  }
}

.room--settings {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba($color-white, .9);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.settings--menu {
  ul {
    list-style: none;
    text-align: center;
    min-width: 500px;
  }

  li {
    padding: 25px;
    font-size: 48px;
    border-bottom: 1px solid $color-border;
    transition: 150ms;

    &:nth-last-child(1) {
      border-bottom: 0px;
    }

    &:hover {
      background-color: $color-blue;
      color: $color-white;
      cursor: pointer;
    }
  }
}

.settings--edit-profile {
  position: relative;
  overflow: visible;
  width: 325px;

  h1 {
    margin-bottom: 25px;
  }

  label {
    font-size: 16px;
  }

  .emoji {
    text-align: center;
    font-size: 72px;
    margin: 15px 0px;
    display: flex;
    justify-content: center;

    .frame {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $color-border;
      border-radius: 12px;
      width: 95px;
      height: 95px;
      padding-top: 10px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }

  .emoji-mart-title-label {
    display: none !important;
  }

  .emoji-popover {
    position: absolute;
    right: -425px;
    top: 25px;
    width: 400px;
    opacity: 0;
    transition: 150ms;

    &.open {
      opacity: 1;
    }
  }
}

.room--skip-warning {
  background: $color-red;
  padding: 10px 15px;
  line-height: 1.3em;
  color: $color-white;
  animation: skip-warning 2s infinite;
  text-align: center;
}

@keyframes skip-warning {
  0% {
    background-color: rgba($color-red, 1);
  }

  50% {
    background-color: rgba($color-red, .7);
  }

  100% {
    background-color: rgba($color-red, 1);
  }
}
