.room--topbar {
  background-color: $color-white;
  border-bottom: 1px solid $color-border;
  padding: 10px 15px;
  display: flex;
}

.room--container {
  display: flex;
  height: 100%;
}

.room--content {
  flex: 3;
}

.room--sidebar {
  flex: 1;
  max-width: 250px;
  background: $color-white;
  height: 100%;
  border-left: 1px solid $color-border;
}

.room--sidebar-tabs {
  display: flex;

  .tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid $color-border;
    transition: 150ms;
    cursor: pointer;

    &.active {
      border-bottom-color: $color-red;
    }

    &:hover {
      background-color: $color-light-gray;
    }
  }
}

.room--stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.room--djs {
  display: flex;
  width: 800px;

  .slot {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    background-color: $color-white;
    padding: 15px;
  }

  .placeholder {
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      display: block;
      height: 50px;
      font-size: 48px;
      color: $color-border;
    }

    .name {
      margin-top: 10px;
      font-size: 16px;
    }
  }
}

.room--nowplaying {
  @include fancy-font;
  width: 800px;
  text-align: center;
  margin-top: 3px;
  background-color: $color-white;
  color: $color-red;
  font-size: 48px;
  padding: 15px 0px;
  box-sizing: border-box;
}

.settings--avatar {
  text-align: center;
}

.settings--name {
  margin-top: 5px;
}

.settings--avatar-config {
  max-height: 400px;
  overflow-y: scroll;
}
