$color-dark: #111;
$color-light-gray: #EEE;
$color-border: darken($color-light-gray, 5%);
$color-dark-gray: #515151;
$color-blue: #00B4FF;
$color-white: #FFF;
$color-red: #ee1111;
$color-green: green;
$color-alt-text: darken($color-light-gray, 20%);

$header-height: 50px;

@font-face {
  font-family: 'Codystar';
  src: url('../assets/fonts/Codystar-Regular.ttf');
}

@mixin font {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

@mixin fancy-font {
  font-family: 'Codystar', cursive;
}

@mixin drag-region($background-color) {
  display: block;
  height: 25px;
  width: 100%;
  -webkit-app-region: drag;
  background: $background-color;
}

body {
  @include font;
  background: $color-light-gray;
  color: $color-dark-gray;
  padding: 0px;
  margin: 0px;
}

#mount {
  min-height: 100vh;
  min-width: 100vh;
}

h1 {
  font-weight: 300;
  font-size: 48px;
  margin: 0px 0px 10px 0px;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  margin: 0px 0px 10px 0px;
}

hr {
  background: transparent;
  border: none;
  border-bottom: 1px solid $color-border;
}

button {
  @include font;
  background-color: $color-blue;
  border: 0px;
  padding: 10px 15px;
  color: $color-white;
  margin: 5px 0px;
}

input, select, textarea {
  @include font;
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  color: $color-dark-gray;
  border: 0px;
  background: $color-light-gray;
  border-bottom: 1px solid $color-border;
  padding: 10px;
  margin: 10px 0px;
  outline: none;
  border-radius: 0px;
  -webkit-appearance: none;

  &:focus {
    border-bottom-color: $color-blue;
  }
}

textarea {
  height: 100px;
}

label {
  display: block;
  margin-bottom: -5px;
  font-size: 12px;
}

a {
  color: $color-blue;
  cursor: pointer;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

[class^="bigstates--"] {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:before {
    display: block;
    font-size: 150px;
  }
}

.bigstates--loading {
  &:before {
    content: "💅";
    animation: highlight 2s infinite;
  }
}

.bigstates--error {
  &:before {
    content: "💩";
  }
}

@keyframes highlight {
  0% {
    text-shadow: 0px 0px 5px $color-red;
  }

  50% {
    text-shadow: 0px 0px 25px $color-red;
  }

  100% {
    text-shadow: 0px 0px 5px $color-red;
  }
}

@import './pages/room-selector';
@import './pages/room';
