.modal--screen {
  background-color: rgba(0, 0, 0, .25);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

.modal--container {
  background-color: $color-white;
  width: 600px;
  border: 1px solid $color-border;
  z-index: 1001;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
}

.modal--header {
  font-size: 24px;
  padding: 10px;
  border-bottom: 1px solid $color-border;
  text-transform: lowercase;
}

.modal--content {
  padding: 10px;
  overflow-y: auto;
}
